{% extends '@EnsJobeet/layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/ensjobeet/css/jobs.css') }}" type="text/css" media="all"/>
{% endblock %}

    {% block content %}
        <div id="jobs">
            <table class="jobs">
                {% for entity in entities %}
                    <tr class="{{ cycle(['even', 'odd'], loop.index) }}">
                        <td class="location">{{ entity.location }}</td>
                        <td class="position">
                            <a href="{{ path('ens_job_show', { 'id': entity.id, 'company': entity.companySlug, 'location': entity.locationSlug, 'position': entity.positionSlug}) }}">
                                {{ entity.position }}
                            </a>
                        </td>
                        <td class="company">{{ entity.company }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endblock %}
