{% extends '@EnsJobeet/layout.html.twig' %}

{% block body -%}
    <h1>Job creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('ens_job') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
